In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.metrics import (
    mean_absolute_error,
    mean_absolute_percentage_error,
    mean_squared_error,
)
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau

2023-10-25 18:10:53.325569: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-10-25 18:10:53.327155: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-25 18:10:53.360305: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-25 18:10:53.361076: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-10-25 18:10:54.094264: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
data = pd.read_csv("../data.csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,Australia,Europe,Brazil,Canada,China,Denmark,Hong Kong,India,Japan,Malaysia
0,0,2010-01-04,0.9133,1.4419,1.7200,1.0377,6.8273,5.1597,7.7555,46.27,92.55,3.396
1,1,2010-01-05,0.9143,1.4402,1.7296,1.0371,6.8258,5.1668,7.7564,46.13,91.48,3.385
2,2,2010-01-06,0.9189,1.4404,1.7292,1.0333,6.8272,5.1638,7.7546,45.72,92.53,3.379
3,3,2010-01-07,0.9168,1.4314,1.7409,1.0351,6.8280,5.1981,7.7539,45.67,93.31,3.368
4,4,2010-01-08,0.9218,1.4357,1.7342,1.0345,6.8274,5.1827,7.7553,45.50,92.70,3.375

In [3]:
def preprocess(data):
    data.drop("Unnamed: 0.1", axis=1, inplace=True)
    data.rename(columns={"Unnamed: 0": "Date"}, inplace=True)
    data["Date"] = pd.to_datetime(data["Date"])
    data.set_index("Date", inplace=True)
    data.replace(0, np.nan, inplace=True)
    display(data)
    print("Filling missing Values: ")
    display(data.interpolate(method="linear", limit_direction="forward"))
    data.interpolate(method="linear", limit_direction="forward", inplace=True)
    return data

In [4]:
data = preprocess(data)

,Australia,Europe,Brazil,Canada,China,Denmark,Hong Kong,India,Japan,Malaysia
Date,,,,,,,,,,
2010-01-04,0.9133,1.4419,1.7200,1.0377,6.8273,5.1597,7.7555,46.27,92.55,3.3960
2010-01-05,0.9143,1.4402,1.7296,1.0371,6.8258,5.1668,7.7564,46.13,91.48,3.3850
2010-01-06,0.9189,1.4404,1.7292,1.0333,6.8272,5.1638,7.7546,45.72,92.53,3.3790
2010-01-07,0.9168,1.4314,1.7409,1.0351,6.8280,5.1981,7.7539,45.67,93.31,3.3680
2010-01-08,0.9218,1.4357,1.7342,1.0345,6.8274,5.1827,7.7553,45.50,92.70,3.3750
...,...,...,...,...,...,...,...,...,...,...
2019-12-27,0.6978,1.1174,4.0507,1.3073,6.9954,6.6829,7.7874,71.45,109.47,4.1260
2019-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-30,0.7004,1.1217,4.0152,1.3058,6.9864,6.6589,7.7857,71.30,108.85,4.1053
2019-12-31,0.7030,1.1227,4.0190,1.2962,6.9618,6.6554,7.7894,71.36,108.67,4.0918

Filling missing Values:

,Australia,Europe,Brazil,Canada,China,Denmark,Hong Kong,India,Japan,Malaysia
Date,,,,,,,,,,
2010-01-04,0.913300,1.441900,1.720000,1.0377,6.8273,5.1597,7.755500,46.27,92.550000,3.3960
2010-01-05,0.914300,1.440200,1.729600,1.0371,6.8258,5.1668,7.756400,46.13,91.480000,3.3850
2010-01-06,0.918900,1.440400,1.729200,1.0333,6.8272,5.1638,7.754600,45.72,92.530000,3.3790
2010-01-07,0.916800,1.431400,1.740900,1.0351,6.8280,5.1981,7.753900,45.67,93.310000,3.3680
2010-01-08,0.921800,1.435700,1.734200,1.0345,6.8274,5.1827,7.755300,45.50,92.700000,3.3750
...,...,...,...,...,...,...,...,...,...,...
2019-12-27,0.697800,1.117400,4.050700,1.3073,6.9954,6.6829,7.787400,71.45,109.470000,4.1260
2019-12-28,0.698667,1.118833,4.038867,1.3068,6.9924,6.6749,7.786833,71.40,109.263333,4.1191
2019-12-29,0.699533,1.120267,4.027033,1.3063,6.9894,6.6669,7.786267,71.35,109.056667,4.1122
2019-12-30,0.700400,1.121700,4.015200,1.3058,6.9864,6.6589,7.785700,71.30,108.850000,4.1053
2019-12-31,0.703000,1.122700,4.019000,1.2962,6.9618,6.6554,7.789400,71.36,108.670000,4.0918

In [5]:
LOOK_BACK = 30
PREDICT_DAY = 1
SPLIT_RATIO = 0.8

In [6]:
def Create_Data(
    data, lookback=LOOK_BACK, pred_len=PREDICT_DAY, split_ratio=SPLIT_RATIO
):
    if lookback < 2:
        print("ERROR: Lookback too small")
        return -1

    # declarations

    x = {}
    y = {}
    xtr = {}
    xt = {}
    ytr = {}
    yt = {}
    scalers = {}

    # Creating stepped data

    for i in data.columns:
        xtemp = pd.DataFrame(data[i])
        for j in range(1, lookback + 1):
            xtemp[i + str(j)] = data[i].shift(-1 * j)
        x[i] = xtemp.dropna()

    # Splitting data into x and y

    for i in x.keys():
        y[i] = pd.DataFrame(x[i].iloc[:, -pred_len])
        x[i] = x[i].iloc[:, :-pred_len]

    # Normalizing x and y values

    for i in x.keys():
        scalers[i + "_x"] = MinMaxScaler(feature_range=(0, 1))
        x[i] = scalers[i + "_x"].fit_transform(x[i])
        scalers[i + "_y"] = MinMaxScaler(feature_range=(0, 1))
        y[i] = scalers[i + "_y"].fit_transform(y[i])

    # setting train and test sizes

    tr_len = int(split_ratio * y["India"].shape[0])
    t_len = y["India"].shape[0] - tr_len

    # creating training and testing data

    for i in x.keys():
        xtr[i] = x[i][:tr_len]
        ytr[i] = y[i][:tr_len]
        xt[i] = x[i][-t_len:]
        yt[i] = y[i][-t_len:]

    # returning pertinent data

    return x, y, xtr, xt, ytr, yt, scalers

In [7]:
x, y, xtr, xt, ytr, yt, scalers = Create_Data(data)

In [8]:
def Create_model(x, y, lookback=LOOK_BACK, Pred_size=PREDICT_DAY):
    models = {}
    for i in x.keys():
        models[i] = Sequential()
        models[i].add(Dense(32, input_shape=(LOOK_BACK,), activation="relu"))
        models[i].add(Dense(64, activation="relu"))
        models[i].add(Dropout(0.2))
        models[i].add(Dense(128, activation="relu"))
        models[i].add(Dropout(0.2))
        models[i].add(Dense(64, activation="relu"))
        models[i].add(Dropout(0.2))
        models[i].add(Dense(16, activation="relu"))
        models[i].add(Dense(Pred_size))
        models[i].compile(loss="mean_squared_error", optimizer="adam")
        print(i)
    return models

In [9]:
m = Create_model(x, y)

Australia
Europe
Brazil
Canada
China
Denmark
Hong Kong
India
Japan
Malaysia

In [10]:
def Execute_model(model, xtr, ytr, xt, yt, scaler):
    MAPE = {}
    MAE = {}
    MSE = {}
    MSE_Actual = {}
    MAE_Actual = {}
    MAPE_Actual = {}
    for i in model.keys():
        print(i)
        # Creating EarlyStopping and ReduceLROnPlateau callbacks
        es = EarlyStopping(monitor="val_loss", mode="min", verbose=1, patience=10)
        reduce_lr = ReduceLROnPlateau(
            monitor="val_loss", factor=0.2, patience=5, min_lr=0.0001
        )

        # Training the model with EarlyStopping and ReduceLROnPlateau callbacks
        model[i].fit(
            xtr[i],
            ytr[i],
            epochs=100,
            batch_size=64,
            verbose=1,
            validation_split=0.2,
            callbacks=[es, reduce_lr],
        )

        # collecting predicted and actual values
        temp = model[i].predict(xt[i])
        pred = scaler[i + "_y"].inverse_transform(temp)
        act = scaler[i + "_y"].inverse_transform(yt[i])

        # calculating Mean Square Error, Mean Absolute Error, and Mean Absolute Error
        MSE[i] = mean_squared_error(yt[i], temp)
        MAE[i] = mean_absolute_error(yt[i], temp)
        MAPE[i] = mean_absolute_percentage_error(yt[i], temp)
        MSE_Actual[i] = mean_squared_error(act, pred)
        MAE_Actual[i] = mean_absolute_error(act, pred)
        MAPE_Actual[i] = mean_absolute_percentage_error(act, pred)
    # Tabulating Data
    metric = pd.DataFrame([MSE, MAE, MAPE])
    metric["Metric"] = ["MSE", "MAE", "MAPE"]
    metric.set_index("Metric", inplace=True)
    
    results = pd.DataFrame([MSE_Actual, MAE_Actual, MAPE_Actual])
    results["Metric"] = ["MSE", "MAE", "MAPE"]
    results.set_index("Metric", inplace=True)
    
    return metric, results

In [11]:
metric, result = Execute_model(m, xtr, ytr, xt, yt, scalers)

Australia
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0710 - val_loss: 0.0014 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0162 - val_loss: 8.5824e-04 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0114 - val_loss: 0.0015 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0100 - val_loss: 0.0021 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0087 - val_loss: 0.0019 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0081 - val_loss: 0.0025 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0073 - val_loss: 0.0017 - lr: 0.0010
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0063 - val_loss: 0.0015 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0059 - val_loss: 0.0014 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0060 - val_loss: 0.0015 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0058 - val_loss: 0.0016 - lr: 2.0000e-04
Epoch 12/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0054 - val_loss: 0.0014 - lr: 2.0000e-04
Epoch 12: early stopping
23/23 [==============================] - 0s 724us/step
Europe
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0465 - val_loss: 0.0032 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0123 - val_loss: 0.0019 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0092 - val_loss: 0.0030 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0077 - val_loss: 0.0034 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0068 - val_loss: 0.0032 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0060 - val_loss: 0.0034 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0060 - val_loss: 0.0028 - lr: 0.0010
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0054 - val_loss: 0.0029 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0046 - val_loss: 0.0029 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0049 - val_loss: 0.0028 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0047 - val_loss: 0.0027 - lr: 2.0000e-04
Epoch 12/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0047 - val_loss: 0.0034 - lr: 2.0000e-04
Epoch 12: early stopping
23/23 [==============================] - 0s 617us/step
Brazil
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0303 - val_loss: 7.2542e-04 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0074 - val_loss: 0.0026 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0061 - val_loss: 0.0015 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0046 - val_loss: 0.0114 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0040 - val_loss: 0.0111 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0144 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0032 - val_loss: 0.0075 - lr: 2.0000e-04
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0027 - val_loss: 0.0066 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0025 - val_loss: 0.0074 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 0.0057 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0026 - val_loss: 0.0105 - lr: 2.0000e-04
Epoch 11: early stopping
23/23 [==============================] - 0s 555us/step
Canada
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0128 - val_loss: 0.0308 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0050 - val_loss: 0.0314 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0038 - val_loss: 0.0357 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0029 - val_loss: 0.0252 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0026 - val_loss: 0.0276 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0026 - val_loss: 0.0334 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0223 - lr: 0.0010
Epoch 8/100
37/37 [==============================] - 0s 1ms/step - loss: 0.0022 - val_loss: 0.0314 - lr: 0.0010
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0359 - lr: 0.0010
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0251 - lr: 0.0010
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0261 - lr: 0.0010
Epoch 12/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0413 - lr: 0.0010
Epoch 13/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0323 - lr: 2.0000e-04
Epoch 14/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 0.0354 - lr: 2.0000e-04
Epoch 15/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 0.0367 - lr: 2.0000e-04
Epoch 16/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 0.0427 - lr: 2.0000e-04
Epoch 17/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0014 - val_loss: 0.0381 - lr: 2.0000e-04
Epoch 17: early stopping
23/23 [==============================] - 0s 654us/step
China
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0237 - val_loss: 0.0106 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0051 - val_loss: 0.0117 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0238 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0029 - val_loss: 0.0169 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0025 - val_loss: 0.0153 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0161 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0173 - lr: 2.0000e-04
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0210 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0192 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0169 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0214 - lr: 2.0000e-04
Epoch 11: early stopping
23/23 [==============================] - 0s 586us/step
Denmark
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0507 - val_loss: 0.0076 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0079 - val_loss: 0.0255 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0054 - val_loss: 0.0175 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0055 - val_loss: 0.0235 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0044 - val_loss: 0.0279 - lr: 0.0010
Epoch 6/100

37/37 [==============================] - 0s 2ms/step - loss: 0.0038 - val_loss: 0.0267 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0038 - val_loss: 0.0282 - lr: 2.0000e-04
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0032 - val_loss: 0.0331 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0396 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0260 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0033 - val_loss: 0.0353 - lr: 2.0000e-04
Epoch 11: early stopping
23/23 [==============================] - 0s 585us/step
Hong Kong
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0051 - val_loss: 0.0100 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0027 - val_loss: 0.0087 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0024 - val_loss: 0.0059 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0072 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0079 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0021 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0067 - lr: 0.0010
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 0.0107 - lr: 0.0010
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0079 - lr: 0.0010
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0012 - val_loss: 0.0061 - lr: 0.0010
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0013 - val_loss: 0.0046 - lr: 0.0010
Epoch 12/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0011 - val_loss: 0.0071 - lr: 2.0000e-04
Epoch 13/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 0.0064 - lr: 2.0000e-04
Epoch 14/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0011 - val_loss: 0.0052 - lr: 2.0000e-04
Epoch 15/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0010 - val_loss: 0.0055 - lr: 2.0000e-04
Epoch 16/100
37/37 [==============================] - 0s 2ms/step - loss: 9.8903e-04 - val_loss: 0.0063 - lr: 2.0000e-04
Epoch 16: early stopping
23/23 [==============================] - 0s 669us/step
India
Epoch 1/100
37/37 [==============================] - 1s 3ms/step - loss: 0.0370 - val_loss: 0.0374 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0088 - val_loss: 0.0486 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0064 - val_loss: 0.0392 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0053 - val_loss: 0.0394 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0040 - val_loss: 0.0553 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0493 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0031 - val_loss: 0.0459 - lr: 2.0000e-04
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 0.0458 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 0.0465 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 0.0439 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0027 - val_loss: 0.0476 - lr: 2.0000e-04
Epoch 11: early stopping
23/23 [==============================] - 0s 642us/step
Japan
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0361 - val_loss: 0.0287 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0099 - val_loss: 0.0255 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0075 - val_loss: 0.0289 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0061 - val_loss: 0.0320 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0054 - val_loss: 0.0356 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0048 - val_loss: 0.0350 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0043 - val_loss: 0.0237 - lr: 0.0010
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0041 - val_loss: 0.0203 - lr: 0.0010
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0038 - val_loss: 0.0261 - lr: 0.0010
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0039 - val_loss: 0.0338 - lr: 0.0010
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0036 - val_loss: 0.0371 - lr: 0.0010
Epoch 12/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0032 - val_loss: 0.0312 - lr: 0.0010
Epoch 13/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0031 - val_loss: 0.0207 - lr: 0.0010
Epoch 14/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0031 - val_loss: 0.0281 - lr: 2.0000e-04
Epoch 15/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0030 - val_loss: 0.0312 - lr: 2.0000e-04
Epoch 16/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0027 - val_loss: 0.0264 - lr: 2.0000e-04
Epoch 17/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0030 - val_loss: 0.0283 - lr: 2.0000e-04
Epoch 18/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0029 - val_loss: 0.0272 - lr: 2.0000e-04
Epoch 18: early stopping
23/23 [==============================] - 0s 610us/step
Malaysia
Epoch 1/100
37/37 [==============================] - 1s 4ms/step - loss: 0.0150 - val_loss: 0.0144 - lr: 0.0010
Epoch 2/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0045 - val_loss: 0.0405 - lr: 0.0010
Epoch 3/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0033 - val_loss: 0.0534 - lr: 0.0010
Epoch 4/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0029 - val_loss: 0.0499 - lr: 0.0010
Epoch 5/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0024 - val_loss: 0.0640 - lr: 0.0010
Epoch 6/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0514 - lr: 0.0010
Epoch 7/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0604 - lr: 2.0000e-04
Epoch 8/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0535 - lr: 2.0000e-04
Epoch 9/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0523 - lr: 2.0000e-04
Epoch 10/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0556 - lr: 2.0000e-04
Epoch 11/100
37/37 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0669 - lr: 2.0000e-04
Epoch 11: early stopping
23/23 [==============================] - 0s 756us/step

In [12]:
result

,Australia,Europe,Brazil,Canada,China,Denmark,Hong Kong,India,Japan,Malaysia
Metric,,,,,,,,,,
MSE,0.000562,0.000721,0.167388,0.010600,0.032649,0.127979,0.000350,64.986724,64.132502,0.120837
MAE,0.019492,0.023345,0.400885,0.102451,0.165908,0.350985,0.018138,8.001292,7.965480,0.345950
MAPE,0.027548,0.019951,0.104730,0.077978,0.024176,0.053721,0.002314,0.114841,0.072524,0.084480

In [13]:
metric

,Australia,Europe,Brazil,Canada,China,Denmark,Hong Kong,India,Japan,Malaysia
Metric,,,,,,,,,,
MSE,2.998152e-03,0.003559,0.022593,0.040059,0.025193,0.027632,0.034572,0.070181,0.025797,0.049717
MAE,4.503749e-02,0.051878,0.147281,0.199166,0.145738,0.163089,0.180295,0.262941,0.159757,0.221905
MAPE,7.513392e+11,0.194428,0.176106,0.278616,0.220873,0.235074,0.206151,0.312366,0.234117,0.300318

In [14]:
import json
import os

# Define the filename
filename = "./results.json"

# Check if the file exists
if os.path.isfile(filename):
    # If the file exists, load the existing data
    with open(filename, "r") as f:
        data = json.load(f)
else:
    # If the file doesn't exist, create an empty dictionary
    data = {}

# Add the result to the dictionary
data["FNN"] = metric.to_dict()

# Write the dictionary to the file
with open(filename, "w") as f:
    json.dump(data, f)